@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.elegant-admin {
  font-family: "Inter", sans-serif;
}

.loading {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.animation-option {
  opacity: 0.7;
  filter: grayscale(10%);
}
.animation-option:hover {
  opacity: 1;
  filter: grayscale(0%);
}
.animation-option.selected {
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;

  span {
    font-weight: 900;
  }
}
