#elegant-loader-container { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background: rgb(255, 255, 255); z-index: 9999; display: flex; justify-content: center; align-items: center; overflow: hidden; animation: 4s ease 0s 1 normal forwards running fadeOut; flex-direction: column; }
.elegant-loader-svg { width: 100%; height: 100%; animation: 1s ease 0s 1 normal forwards running fadeIn; }
.elegant-loader-svg path { fill: none; stroke: rgb(142, 128, 128); stroke-width: 2px; stroke-dasharray: 200; stroke-dashoffset: 200; animation: 2s ease-in-out 0s infinite alternate forwards running drawLine; }
@keyframes drawLine { 
  0% { stroke-dashoffset: 200; }
  100% { stroke-dashoffset: 0; }
}
@keyframes fadeOut { 
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}